{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-right">
        <button type="submit" form="form-article" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
        <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
          {% for breadcrumb in breadcrumbs %}
              <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    <div class="card">
      <div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_form }}</div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-article">
          <div class="form-group row">
			<label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
			<div class="col-sm-10">
				<select name="status" id="input-status" class="form-control">
					{% if status %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
					{% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				</select>
			</div>
		  </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ entry_store }}</label>
            <div class="col-sm-10">
              <div class="form-control" style="height: 150px; overflow: auto;">
                {% for store in stores %}
                  <label class="form-check">
                    {% if store.store_id in article_store %}
                    <input type="checkbox" name="article_store[]" value="{{ store.store_id }}" checked="checked" />
                    {{ store.name }}
                    {% else %}
                    <input type="checkbox" name="article_store[]" value="{{ store.store_id }}" />
                    {{ store.name }}
                    {% endif %}
                  </label>
                {% endfor %}
              </div>
            </div>
          </div>
		  <div class="form-group row">
			<label class="col-sm-2 col-form-label" for="input-sort-order">{{ entry_sort_order }}</label>
			<div class="col-sm-10">
				<input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
			</div>
		  </div>
		  
		  <div class="form-group row">
			  <label class="col-sm-2 col-form-label" for="blog-image">{{ entry_image }}</label>
			  <div class="col-sm-10">
                  <div class="card image">
                      <img src="{{ thumb }}" alt="" title="" id="blog-image" data-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="image" value="{{ image }}" id="input-image"/>
                      <div class="card-body">
                          <button type="button" data-toggle="image" data-target="input-image" data-thumb="blog-image" class="btn btn-primary btn-sm btn-block"><i class="fas fa-pencil-alt"></i> {{ button_edit }}</button>
                          <button type="button" data-toggle="clear" data-target="input-image" data-thumb="blog-image" class="btn btn-warning btn-sm btn-block"><i class="fas fa-trash-alt"></i> {{ button_clear }}</button>
                      </div>
                  </div>
			  </div>
		  </div>
		  
		  <div class="form-group row">
			<label class="col-sm-2 col-form-label" for="input-author">{{ entry_author }}</label>
			<div class="col-sm-10">
			  <input type="text" name="author" value="{{ author }}" placeholder="{{ entry_author }}" id="input-author" class="form-control" />
			</div>
		  </div>
          <div class="tab-content">
              <ul class="nav nav-tabs" id="language">
                {% for language in languages %}
                <li class="nav-item"><a href="#language{{ language.language_id }}" data-toggle="tab" class="nav-link"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% for language in languages %}
                <div class="tab-pane" id="language{{ language.language_id }}">
                  <div class="form-group row required">
                    <label class="col-sm-2 col-form-label" for="input-name{{ language.language_id }}">{{ entry_name }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="article_description[{{ language.language_id }}][name]" value="{{ article_description[language.language_id] ? article_description[language.language_id].name : '' }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control" />
                      {% if error_name[language.language_id] %}
                      <div class="invalid-tooltip">{{ error_name[language.language_id] }}</div>
                      {% endif %}
                    </div>
                  </div>

                  <div class="form-group row required">
                        <label class="col-sm-2 col-form-label" for="input-intro-text{{ language.language_id }}">{{ entry_intro_text }}</label>
                        <div class="col-sm-10">
                            <textarea name="article_description[{{ language.language_id }}][intro_text]" placeholder="{{ entry_intro_text }}" id="input-intro-text{{ language.language_id }}" data-toggle="ckeditor" data-lang="{{ ckeditor }}" class="form-control">{{ article_description[language.language_id] ? article_description[language.language_id].intro_text : '' }}</textarea>
                        </div>
                  </div>


                  <div class="form-group row required">
                    <label class="col-sm-2 col-form-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="article_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="ckeditor" data-lang="{{ ckeditor }}" class="form-control">{{ article_description[language.language_id] ? article_description[language.language_id].description : '' }}</textarea>
                    </div>
                  </div>
                  <div class="form-group row required">
                    <label class="col-sm-2 col-form-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="article_description[{{ language.language_id }}][meta_title]" value="{{ article_description[language.language_id] ? article_description[language.language_id].meta_title : '' }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
                      {% if error_meta_title[language.language_id] %}
                      <div class="invalid-tooltip">{{ error_meta_title[language.language_id] }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="article_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ article_description[language.language_id] ? article_description[language.language_id].meta_description : '' }}</textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
                    <div class="col-sm-10">
                      <textarea name="article_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ article_description[language.language_id] ? article_description[language.language_id].meta_keyword : '' }}</textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="input-keyword"><span data-toggle="tooltip" title="{{ help_keyword }}">{{ entry_keyword }}</span></label>
                    <div class="col-sm-10">
                      <input type="text" name="keyword" value="{{ keyword }}" placeholder="{{ entry_keyword }}" id="input-keyword" class="form-control" />
                      {% if error_keyword %}
                      <div class="invalid-tooltip">{{ error_keyword }}</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>


          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
    $('textarea[data-toggle=\'ckeditor\']').ckeditor();

    $('#language li:first-child a').tab('show');

    //--></script>
{{ footer }}